<template>
  <div id="app">
    <div class="layout">
      <Header />
      <RouterView />
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'

import User from '@/tools/user'

export default {
  components: {
    Header,
    Footer,
  },
  async mounted() {
    if (!this.$store.state.isLoggedIn) {
      try {
        await User.loadUserFromLocalStorage()
      } catch (err) {
        console.error(err.message)
      }
    }
  },
}
</script>

<style scoped>
.layout {
  min-height: calc(100vh - 3.25rem);
  display: flex;
  flex-direction: column;
}
</style>
