<template>
  <Content go-back>
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div
          class="column is-half-desktop is-two-thirds-tablet is-three-quarters-mobile"
        >
          <form class="login-form">
            <BField label="Email">
              <BInput
                type="email"
                placeholder="Enter Email"
                v-model="email"
                required
              ></BInput>
            </BField>
            <BField label="Password">
              <BInput
                type="password"
                placeholder="Enter Password"
                v-model="password"
                required
              ></BInput>
            </BField>
            <BButton @click="handleLogin" :disabled="!isFormValid"
              >Login</BButton
            >
          </form>
        </div>
      </div>
    </div>
  </Content>
</template>

<script>
import { mapActions } from 'vuex'

import User from '@/tools/user'
import Content from '@/components/Content'

export default {
  components: {
    Content,
  },
  data() {
    return {
      email: null,
      password: null,
    }
  },
  computed: {
    isFormValid() {
      return (
        !!this.email &&
        this.email.length > 0 &&
        !!this.password && this.password.length > 0
      )
    },
  },
  methods: {
    ...mapActions(['withLoading']),
    async handleLogin() {
      await this.withLoading(async () => {
        try {
          const { email: login, password } = this
          console.log(login, password)
          const succeed = await User.loginUser(login, password)
          if (succeed) {
            this.$buefy.toast.open({
              type: 'is-info',
              message: `Nice to see you again, ${login}!`,
              duration: 5000,
            })
            this.$router.push({ name: 'home' })
          } else {
            this.$buefy.toast.open({
              type: 'is-danger',
              message: 'User does not exists or credentials are wrong',
              duration: 5000,
            })
          }
        } catch (err) {
          this.$buefy.toast.open({
            type: 'is-danger',
            message: err.message,
            duration: 5000,
          })
        }
      })
    },
  },
}
</script>
