<template>
  <Content>
    <PostsList />
  </Content>
</template>

<script>
import Content from '@/components/Content'
import PostsList from '@/components/PostsList'

export default {
  components: {
    Content,
    PostsList,
  },
}
</script>
