<template>
  <Content go-back>
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div
          class="column is-half-desktop is-two-thirds-tablet is-three-quarters-mobile"
        >
          <form class="post-form">
            <BField label="Title">
              <BInput
                type="text"
                placeholder="Enter Title"
                v-model="title"
                required
              ></BInput>
            </BField>
            <BField label="Description">
              <BInput
                type="textarea"
                placeholder="Enter Description"
                v-model="description"
                required
              ></BInput>
            </BField>
            <BButton @click="handleSubmit" :disabled="!isFormValid"
              >Update</BButton
            >
          </form>
        </div>
      </div>
    </div>
  </Content>
</template>

<script>
import Post from '@/tools/post'
import Content from '@/components/Content'

export default {
  components: {
    Content,
  },
  data() {
    return {
      post: null,
      title: null,
      description: null,
    }
  },
  computed: {
    isFormValid() {
      return (
        !!this.title &&
        this.title.length > 0 &&
        !!this.description && this.description.length > 0
      )
    },
  },
  methods: {
    async handleSubmit() {
      try {
        const { post, title, description } = this
        await Post.updatePost(post.id, { ...post, title, description })
        this.$buefy.toast.open({
          type: 'is-info',
          message: 'Post has been updated!',
          duration: 5000,
        })
        this.$router.push({ name: 'home' })
      } catch (err) {
        this.$buefy.toast.open({
          type: 'is-danger',
          message: err.message,
          duration: 5000,
        })
      }
    },
  },
  async mounted() {
    try {
      const { id } = this.$route.params
      const post = await Post.getPostById(id)
      const { title, description } = post
      this.post = post
      this.title = title
      this.description = description
    } catch (err) {
      console.error(err)
    }
  },
}
</script>
