<template>
  <main class="section">
    <div class="columns" v-if="goBack">
      <div class="column is-full">
        <div class="container">
          <BButton @click="$router.go(-1)">Go back</BButton>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-full">
        <slot></slot>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  props: {
    goBack: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style scoped>
main.section {
  flex: 1;
}
</style>
