<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Yet another test task by <strong>Anatoly Ktitarov</strong>.</p>
      <p>Well, i am waiting for your feedback 👋</p>
    </div>
  </footer>
</template>
