<template>
  <header class="header">
    <BNavbar type="is-info" wrapper-class="container" fixed-top>
      <template v-slot:end>
        <BNavbarItem tag="div" v-if="$store.state.isLoggedIn && $store.state.user.role === 'writer'">
          <div class="buttons">
            <BButton type="is-light" @click="handleCreatePost" outlined
              >Write New Article</BButton
            >
          </div>
        </BNavbarItem>
        <BNavbarItem tag="div">
          <div class="buttons">
            <BButton
              type="is-light"
              @click="handleLogin"
              v-if="!$store.state.isLoggedIn"
              >Login</BButton
            >
            <BButton type="is-light" @click="handleLogout" v-else
              >Logout</BButton
            >
          </div>
        </BNavbarItem>
      </template>
    </BNavbar>
  </header>
</template>

<script>
import User from '@/tools/user'

export default {
  methods: {
    async handleLogout() {
      try {
        await User.logoutUser()
        this.$buefy.toast.open({
          type: 'is-info',
          message: 'You have been logged out!',
          duration: 5000,
        })
        this.$router.push({ path: '/' })
      } catch (err) {
        this.$buefy.toast.open({
          type: 'is-danger',
          message: err,
          duration: 5000,
        })
      }
    },
    handleLogin() {
      this.$router.push({ name: 'auth' })
    },
    handleCreatePost() {
      this.$router.push({ name: 'post-create' })
    },
  },
}
</script>
