<template>
  <div class="container">
    <template v-if="posts.length > 0">
      <div
        class="columns is-centered is-vcentered"
        v-for="post in posts"
        :key="post.id"
      >
        <div
          class="column is-half-desktop is-two-thirds-tablet is-three-quarters-mobile"
        >
          <PostCard :post="post" v-on:post:deleted="handleDeletedPost" />
        </div>
      </div>
      <div class="columns is-centered is-vcentered">
        <div
          class="column is-half-desktop is-two-thirds-tablet is-three-quarters-mobile"
        >
          <BPagination
            :total="total"
            :per-page="perPage"
            :current.sync="current"
          >
          </BPagination>
        </div>
      </div>
    </template>
    <template v-else>
      <h2 class="has-text-centered">
        There are no posts to show <br />
        kick-off the new post right now.
      </h2>
    </template>
  </div>
</template>

<script>
import Post from '@/tools/post'
import PostCard from '@/components/PostCard'

export default {
  components: {
    PostCard,
  },
  data() {
    return {
      total: 0,
      posts: [],
      perPage: 10,
      current: 10,
    }
  },
  watch: {
    async current(page) {
      await this.handlePageChange(page)
    },
  },
  methods: {
    async handlePageChange(page) {
      try {
        const { data: posts, headers } = await Post.getPostsByPage(page)
        const total = Number(headers['x-total-count'])
        this.current = page
        this.posts = posts
        this.total = total
      } catch (err) {
        this.$buefy.toast.open({
          type: 'is-danger',
          message: err,
          duration: 5000,
        })
      }
    },
    handleDeletedPost(id) {
      this.posts = this.posts.filter(({ id: postId }) => postId !== id)
    },
  },
  async mounted() {
    await this.handlePageChange(1)
  },
}
</script>
