<template>
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <h2 class="is-size-4 has-text-weight-medium">{{ postData.title }}</h2>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>{{ postData.description }}</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half is-one-thirds-tablet is-one-quarters-mobile">
          <span>{{
            new Date(postData.updatedAt) | moment('from', 'now')
          }}</span>
        </div>
        <div
          id="actions"
          class="column is-half is-one-thirds-tablet is-one-quarters-mobile"
          v-if="$store.state.isLoggedIn"
        >
          <template v-if="$store.state.user.role === 'writer'">
            <BButton @click="handleEdit">📝 Edit</BButton>
            <BButton @click="handleDelete">🗑 Delete</BButton>
          </template>
          <template v-else>
            <BButton @click="handleClap">👏 {{ postData.claps }}</BButton>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import User from '@/tools/user'
import Post from '@/tools/post'

export default {
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      postData: {
        ...this.post,
      },
    }
  },
  methods: {
    async handleClap() {
      try {
        await Post.clapToPost(this.postData.id)
        this.postData.claps += 1
      } catch (err) {
        this.$buefy.toast.open({
          type: 'is-danger',
          message: err.message,
          deuration: 5000,
        })
      }
    },
    async handleDelete() {
      try {
        await Post.deletePost(this.postData.id)
        this.$emit('post:deleted', this.postData.id)
      } catch (err) {
        this.$buefy.toast.open({
          type: 'is-danger',
          message: err.message,
          deuration: 5000,
        })
      }
    },
    handleEdit() {
      this.$router.push({ name: 'post-edit', params: { ...this.postData } })
    },
  },
}
</script>

<style scoped>
#actions {
  display: flex;
  justify-content: flex-end;
}

#actions button:first-of-type {
  margin-right: 1em;
}
</style>
